@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">BingoMod</h1>
                    <ul class="breadcrumb-nav">
                        <li><a href="/" data-i18n="l-main">Главная</a></li>
                        <li><a href="/home/downloads" data-i18n="l-downloads">Загрузки</a></li>
                        <li>BingoMod</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Blog Singel Area -->
<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
                <div class="single-inner">
                    <div class="post-details">
                        <div class="main-content-head">                                                        
                            <div class="detail-inner">
                                <h3 data-i18n="bm-header-1">
                                    Список измений в моде
                                </h3>
                                <ul style="list-style:circle; margin-top:10px; padding-left:2rem; color:#081828;">
                                    <li data-i18n="bm-text-1">Убраны стартовые логотипы BANDAI NAMCO и FROM SOFTWARE.</li>
                                    <li data-i18n="bm-text-2">Убраны все всплывающие подсказки и туториалы.</li>
                                    <li data-i18n="bm-text-3">После заверщения туториала сразу доступен идол в Замке Ассина и во Дворце Певоисточника.</li>
                                    <li data-i18n="bm-text-4">Доступен срез от Идола "Дорога в замок" к идолу "Лестница смерти" через дополнительные ветки.</li>
                                    <li data-i18n="bm-text-5">Добавлена возможность пропустить битву с Великаном в Колодках. Добавлена ветка с левой стороны от босса.</li>
                                    <li data-i18n="bm-text-6">Добавлена ветка для быстрого прохождения мимо Великой змеи.</li>
                                    <li data-i18n="bm-text-7">Добавлен крюк позволяющий попасть к торговцу и Тэнгу не попадая на битву с Гебу.</li>
                                    <li data-i18n="bm-text-8">Добавлены ветки позволяющие попасть из Замка Ассина назад в Окраины Ассина для битвы с Гебу или Яростным быком.</li>
                                    <li data-i18n="bm-text-9">Двери на арене с Генетиро убраны чтобы не было возможности зажать босса.</li>
                                    <li data-i18n="bm-text-10">Добавлен крюк позволяющий попасть из Ядовитого пруда в Храм в конце пещеры на дне Опустившейся долины.</li>
                                    <li data-i18n="bm-text-11">Добавлены ветки позволяющие подняться из дна Опустившейся долины к идолу Долина Бодхисатвы.</li>
                                    <li data-i18n="bm-text-12">Добавлены крюки и ветки позволяющие попасть от идола Долина Бодхисатвы к идолу Расколотая пещера.</li>
                                    <li data-i18n="bm-text-13">Изменен радиус активации Падшей монахини чтобы нельзя было оббежать босса.</li>
                                    <li data-i18n="bm-text-14">Добавлен активный идол возле Колокла Демона и проход в основную часть Семпо до босса Рыцарь в Доспехах.</li>
                                    <li data-i18n="bm-text-15">Добавлены подсказки на экранах загрузки.</li>
                                    <li data-i18n="bm-text-16">Изменены картинки на экранах загрузки.</li>
                                    <li data-i18n="bm-text-17">Добавлена возможность отдавать семечки тыквы на идоле.</li>
                                    <li data-i18n="bm-text-18">Добавлена возможность отдавать\получать Амулет Куро.</li>
                                </ul>                                
                            </div>
                            <hr />
                            <div class="detail-inner my-3">
                                <h3 data-i18n="bm-header-2">
                                    Демонстрация изменений мода
                                </h3>
                                <iframe width="560" height="315" data-i18n="[src]bm-videolink" src="https://www.youtube.com/embed/GWTiLX2kGtc?si=CxTTWdCN_E_RQGdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>            
        </div>
    </div>
</section>
<!-- End Blog Singel Area -->
                                