@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs huntpoint">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Huntpoint</h1>
                    <ul class="breadcrumb-nav">
                        <li><a href="/" data-i18n="l-main">Главная</a></li>
                        <li>Huntpoint</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Blog Singel Area -->
<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
                <div class="single-inner">
                    <div class="post-details">
                        <div class="main-content-head">                                                        
                            <div class="detail-inner">
                                <h3 data-i18n="h-header-1">
                                    Huntpoint
                                </h3>
                                <p data-i18n="h-text-1">
                                    Huntpoint - соревновательный режим в Elden Ring: Nightreign и не только, в котором игроки смогут состязаться друг против друга, выполняя задания разной ценности, и зарабатывая за это очки.
                                </p>
                                <p data-i18n="h-text-2">
                                    В Huntpoint каждый матч — это испытание на стратегию, скорость и адаптацию. Игроки должны не только выбирать задания с умом, но и учитывать действия соперников, принимая рискованные решения или играя на опережение. Чем сложнее задача, тем больше очков, но и выше шанс столкнуться с противодействием.
                                </p>
                                <p data-i18n="h-text-3">
                                    Этот режим создает напряженную атмосферу соревнования, где каждая минута имеет значение. Следите за прогрессом противников, используйте тактику и находите возможности для внезапных переворотов. Кто сумеет лучше комбинировать стратегию и решительность, тот станет настоящим мастером Huntpoint!
                                </p>
                            </div>
                            <hr />
                            <h3 data-i18n="h-header-2">
                                Правила игры в Huntpoint
                            </h3>
                            <p data-i18n="[html]h-text-4">
                                Познакомьтесь с основными механиками, условиями победы и стратегиями Huntpoint — всё, что нужно для захватывающего старта.
                                <a href="/home/huntpointRules">Ознакомиться с правилами</a>
                            </p>
                            <hr />
                            <div class="detail-inner my-3">
                                <p data-i18n="h-text-5">
                                    Приложение ещё находится в активной разработке, и именно сейчас вы можете повлиять на его будущее.
                                    Если вам интересно первыми взглянуть на новые механики и поучаствовать в тестировании, вы можете скачать предварительную версию по ссылке ниже.
                                    Ваши отзывы, идеи и замечания помогут нам сделать Huntpoint ещё лучше.
                                </p>
                                <a class="btn btn-primary" href="/home/downloads#huntpoint" data-i18n="h-text-6">Скачать Бета версию</a>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>            
        </div>
    </div>
</section>
<!-- End Blog Singel Area -->
