@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs huntpoint">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Huntpoint</h1>
                    <ul class="breadcrumb-nav">
                        <li><a href="/" data-i18n="l-main">Главная</a></li>
                        <li data-i18n="l-rules">Правила</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Blog Singel Area -->
<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
                <div class="single-inner">
                    <div class="post-details">
                        <div class="main-content-head">
                            <div class="detail-inner">
                                <h3 data-i18n="hr-header-1">Формат игры</h3>
                                <p data-i18n="hr-text-1">
                                    Хантпоинт - формат игры, где за каждую выполненную «цель», вы получаете определенное количество баллов. Как итог, побеждает игрок, набравший наибольшее количество баллов.
                                </p>
                                <p data-i18n="hr-text-2">Цели делятся на 4 типа:</p>
                                <ul style="list-style:circle; margin-top:0px; padding-left:2rem; color:#081828;">
                                    <li data-i18n="hr-text-3">Простые цели</li>
                                    <li data-i18n="hr-text-4">Редкие цели</li>
                                    <li data-i18n="hr-text-5">Уникальные цели</li>
                                    <li data-i18n="hr-text-6">Легендарная цель</li>
                                </ul>
                                <p  data-i18n="hr-text-7">Легендарной целью всегда является цель, в которой предстоит убить Найтлорда, и именно исходя из этой цели, происходит выбор того или иного найтлорда перед началом игры.</p>
                                <ul style="list-style:circle; margin-top:0px; padding-left:2rem; color:#081828;">
                                    <li data-i18n="hr-text-8">
                                        Простые цели приносят наименьшее количество баллов (от 1 до 2), но выполнить их довольно просто.
                                    </li>
                                    <li data-i18n="hr-text-9">
                                        Редкие цели приносят больше баллов, чем простые (от 3 до 5), но и выполнить их немного сложнее
                                    </li>
                                    <li data-i18n="hr-text-10">
                                        ⁠Уникальные цели приносят большое количество баллов (от 7 до 13), но для выполнения придется продемонстрировать умения высокого уровня.
                                    </li>
                                    <li  data-i18n="hr-text-11">
                                        Легендарная цель самая сложная - убить найтлорда, исходя из всего прогресса, которого вы достигли, выполняя другие цели, но выполнение этой цели принесет вам максимально возможные баллы (от 15 до 30).
                                    </li>
                                </ul>
                                <hr />
                                <h3 data-i18n="hr-header-2">Формирование доски:</h3>
                                <p data-i18n="hr-text-12">Доска каждый раз формируется случайным образом, и включает в себя набор из 20 целей: </p>
                                <ul style="list-style:circle; margin-top:10px; padding-left:2rem; color:#081828;"> 
                                    <li data-i18n="hr-text-13">10 простых</li>
                                    ⁠<li data-i18n="hr-text-14">6 редких</li>
                                    ⁠<li data-i18n="hr-text-15">3 уникальных</li>
                                    ⁠<li data-i18n="hr-text-16">1 легендарная</li>
                                </ul>
                                <p data-i18n="hr-text-17">
                                    Так как каждая игра в Nightreign Huntpoint происходит на разных сидах,с разным дропом и боссами,просим вас ознакомиться с едиными правилами,которые сделают игру сбалансированной,независимо от сида.
                                </p>
                                <hr />

                                <h3 data-i18n="hr-header-3">РАЗРЕШАЕТСЯ:</h3>
                                <ul style="list-style:circle; margin-top:0px; padding-left:2rem; color:#081828;" class="mb-3">
                                    <li data-i18n="hr-text-17">Выбирать любой класс перед началом похода;</li>
                                    ⁠<li data-i18n="hr-text-18">Использовать любые реликвии,усиливающие характеристики, навыки и оружие;</li>
                                    ⁠<li data-i18n="hr-text-19">Использовать реликвии, усиливающие конкретного героя;</li>
                                    ⁠<li data-i18n="hr-text-20">Отмечать цель с небольшим «опозданием», если в момент выполнения, вы находитесь не в зоне и можете умереть;</li>
                                    ⁠<li data-i18n="hr-text-21">Выполнять любые цели на выбор;</li>
                                    ⁠<li data-i18n="hr-text-22">Использовать любые скины;</li>
                                    ⁠<li data-i18n="hr-text-23">Усложнять игру на общей договоренности (например: играть всю игру с изначальным непрокаченным оружием);</li>
                                    ⁠<li data-i18n="hr-text-24">Смотреть трансляцию/стрим оппонента, если вы окончательно умерли, но лидируете по количеству очков;</li>
                                    ⁠<li data-i18n="hr-text-25">Из личного любопытства, спрашивать, какой босс был в том или ином месте;</li>
                                    ⁠<li data-i18n="hr-text-26">Пользоваться Вики или другими источниками информации во время забега.</li>
                                </ul>
                                <hr />
                                <h3 data-i18n="hr-header-4">ЗАПРЕЩАЕТСЯ:</h3>
                                <ul style="list-style:circle; margin-top:0px; padding-left:2rem; color:#081828;">
                                    <li data-i18n="hr-text-27">Использовать любые реликвии, дающие любой предмет в инвентарь в начале похода (смазка, мечевидный ключ и т.д.)</li>
                                    <li data-i18n="hr-text-28">Скрывать свой прогресс и отмечать выполненные цели с большой задержкой;</li>
                                    <li data-i18n="hr-text-29">Идти на найтлорда, которого нету на доске;</li>
                                    <li data-i18n="hr-text-30">Начинать игру раньше положенного или обговорённого времени;</li>
                                    <li data-i18n="hr-text-31">«Снайпить» (подсматривать) стрим/трансляцию своего оппонента;</li>
                                    <li data-i18n="hr-text-32">Спойлерить прогресс оппонента путем сообщений из чата;</li>
                                    <li data-i18n="hr-text-33">Отмечать цели до полного их выполнения.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Singel Area -->

<style>
    .detail-inner p{
        color:#081828;
    }
</style>