@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title" data-i18n="l-commonrules">Общие правила</h1>
                    <ul class="breadcrumb-nav">
                        <li><a href="/" data-i18n="l-main">Главная</a></li>
                        <li data-i18n="l-rules">Правила</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Blog Singel Area -->
<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
                <div class="single-inner">
                    <div class="post-details">
                        <div class="main-content-head">                                                        
                            <div class="detail-inner">
                                <h3 data-i18n="r-header-1">
                                    Формат игры
                                </h3>
                                <p data-i18n="r-text-1">
                                    Существуют три распространенных формата игры:
                                </p>
                                <p>
                                    <h5 class="d-inline" style="font-size:16px" data-i18n="r-header-2">Локаут:</h5>
                                    <span data-i18n="r-text-2">
                                        Игроки соревнуются, собирая квадраты на игровом поле. Первый игрок, который соберет линию (горизонтальную, вертикальную или диагональную), выигрывает. Если ни один игрок не может собрать линию, победитель определяется по большинству квадратов.
                                    </span>
                                </p>                                
                                <p>
                                    <h5 class="d-inline" style="font-size:16px" data-i18n="r-header-3">Трипл бинго:</h5>
                                    <span data-i18n="r-text-3">
                                        Игроки должны собрать три линии (горизонтальные, вертикальные или диагональные).
                                    </span>
                                </p>
                                <p>
                                    <h5 class="d-inline" style="font-size:16px" data-i18n="r-header-4">Блэкаут:</h5>
                                    <span data-i18n="r-text-4">
                                        Игроки должны выполнить все квадраты на игровом поле.
                                    </span>
                                </p>
                                <h3 data-i18n="r-header-5">
                                    Продолжительность матча
                                </h3>                               
                                <p data-i18n="r-text-5">
                                    Матч длится 2 часа. Если по истечении времени ни один игрок не собрал линию, победителем становится тот, у кого больше квадратов.
                                </p>
                                
                                <h3 data-i18n="r-header-6">
                                    Правила честной игры
                                </h3>
                                <p data-i18n="r-text-6">
                                    Все матчи проводятся по правилам честной игры. Игроки, нарушающие эти правила, дисквалифицируются.
                                </p>
                                <blockquote>
                                    <div class="icon">
                                        <i class="lni lni-quotation"></i>
                                    </div>
                                    <h4 data-i18n="r-header-7">
                                        "Сначала нужно быть честным, а уж потом — благородным"
                                    </h4>
                                    <span data-i18n="r-text-7">- Уинстон Черчилль</span>
                                </blockquote>
                                <h3 data-i18n="r-header-8">Использование патчей и модов</h3>
                                <p data-i18n="r-text-8">
                                    Игроки должны играть на последней версии игры. Запрещены любые моды, кроме специализированных модов для бинго.
                                </p>
                                <h3 data-i18n="r-header-9">Запрещенные действия</h3>
                                <p data-i18n="r-text-9">
                                    Запрещены любые эксплойты, скипы и глитчи. Например, запрещены скипы боссов, которые не предназначены для пропуска.
                                </p>
                                <h3 data-i18n="r-header-10">Отметка квадратов</h3>
                                <p data-i18n="r-text-10">
                                    Игроки должны отмечать квадраты как можно скорее после их выполнения. Запрещено скрывать прогресс, чтобы удивить соперника позже.
                                </p>                                
                                <h3 data-i18n="r-header-11">Несвоевременная отметка квадратов</h3>
                                <p data-i18n="r-text-11">
                                    Если игрок отмечает квадрат, но не выполняет его задание, у него есть всего 3 секунды, чтобы снять отметку. Если он этого не делает, квадрат блокируется, и возможность закрыть его исчезает. Более того, за невыполнение задания игрок получает штраф. А если штрафов набирается два — он автоматически проигрывает игру.<br />
                                    Такие правила придают игре динамику и остроту! Нужно действовать быстро и внимательно, иначе можно потерять шансы на победу.
                                </p>
                                <h3 data-i18n="r-header-12">Условия выполнения квадратов</h3>
                                <p data-i18n="r-text-12">
                                    Для выполнения квадратов, связанных с убийством боссов, необходимо дождаться появления окна с вознаграждением (бусина, воспоминание). Для квадратов, не связанных с боссами, отмечать нужно сразу по завершению действий.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>            
        </div>
    </div>
</section>
<!-- End Blog Singel Area -->
