@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Sekiro Bingo</h1>
                    <ul class="breadcrumb-nav">
                        <li><a href="/" data-i18n="l-main">Главная</a></li>
                        <li data-i18n="l-rules">Правила</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Blog Singel Area -->
<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
                <div class="single-inner">
                    <div class="post-details">
                        <div class="main-content-head">                                                        
                            <div class="detail-inner">
                                <h3 data-i18n="rs-header-1">
                                    Список заданий
                                </h3>
                                <p>
                                    <span data-i18n="rs-text-1">
                                        Вы можете скачать список со всеми заданиями которые могут попасться в Sekiro Bingo 
                                    </span>
                                    <a href="~/uploads/files/Sekiro.txt" data-i18n="rs-text-1-1">по ссылке.</a>
                                </p>
                                <h3 data-i18n="rs-header-2">
                                    Основные правила
                                </h3>
                                <p>
                                    <span data-i18n="rs-text-2">
                                        Для Sekiro Bingo применяются общие правила бинго, с которыми вы можете ознакомиться 
                                    </span>
                                    <a href="/home/rules" data-i18n="rs-text-2-1">на сайте.</a>
                                </p>
                                <h3 data-i18n="rs-header-3">
                                    Дополнительные правила
                                </h3>
                                <ul class="list-group list-group-flush" style="color:#081828;">
                                    <li class="list-group-item" data-i18n="rs-text-3-1">Игра должна быть обновлена до последнего патча 1.06</li>
                                    <li class="list-group-item" data-i18n="[html]rs-text-3-2">Необходимо установить BingoMod (<a href="/home/downloads">можно скачать на сайте</a>)</li>
                                    <li class="list-group-item">
                                        <span data-i18n="rs-text-3-10">
                                            Правила старта матча
                                        </span>
                                        <ul style="list-style:circle; margin-top:10px; padding-left:2rem;">
                                            <li data-i18n="rs-text-3-11">Во время подготовительного времени (зеленый таймер в BingoApp) можно полностью зайти в игру, где появится белая дымка блокирующая путь из ямы.</li>
                                            <li data-i18n="rs-text-3-12">По истичению подготовительного времени дымка исчезнет и можно начинать игру.</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <span data-i18n="rs-text-3-3">
                                            Запрещены любые эксплойты, скипы и глитчи.
                                        </span>
                                        <ul style="list-style:circle; margin-top:10px; padding-left:2rem;">
                                            <li data-i18n="rs-text-3-4">Запрещен скип Гебу (Horse Skip)</li>
                                            <li data-i18n="rs-text-3-5">Запрещен скип Демона Ненависти (Demon Skip)</li>
                                            <li data-i18n="rs-text-3-6">Запрещен скип элитного воина Ассина (Dojo Skip & Front Dojo Skip)</li>
                                            <li data-i18n="rs-text-3-7">Запрещен AI Break на мини боссах</li>
                                            <li data-i18n="rs-text-3-8">Запрещен Air Swim и любой выход в Out of Bounds</li>
                                        </ul>                                        
                                    </li>
                                    <li class="list-group-item" data-i18n="rs-text-3-9">Для квадрата убить 3 врагов тремя техниками дарования убийство геконов не считается.</li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>            
        </div>
    </div>
</section>
<!-- End Blog Singel Area -->
