<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HuntpointApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HuntpointApp.Properties.Settings>
            <setting name="NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferedColor" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPlayerChat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsGoalActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsColorChanged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsConnections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BeforeStartTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardAnalyzeTime" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="DefaultRoomName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSoundsOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundsVolume" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>830</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1370</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPositionSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppLanguage" serializeAs="String">
                <value>ru-RU</value>
            </setting>
            <setting name="PlayerId" serializeAs="String">
                <value />
            </setting>
            <setting name="BoardAnalyzeTimeHidden" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BoardAnalyzeTimeChanging" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BoardUnhideSqaresTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BoardChangeSqaureTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LocalServerPort" serializeAs="String">
                <value>5050</value>
            </setting>
            <setting name="IsStartLocalServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BWTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BWLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BWHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BWWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BWIsPositionSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NightreignExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamPlayerId" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamPlayerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SekiroExePath" serializeAs="String">
                <value />
            </setting>
        </HuntpointApp.Properties.Settings>
    </userSettings>
</configuration>