<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BingoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BingoApp.Properties.Settings>
            <setting name="NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferedColor" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPlayerChat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsGoalActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsColorChanged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsConnections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BeforeStartTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardAnalyzeTime" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="DefaultRoomName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSoundsOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundsVolume" serializeAs="String">
                <value>85</value>
            </setting>
        </BingoApp.Properties.Settings>
    </userSettings>
</configuration>