#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
}

.share {
    width: 4.5rem;
    height: 3rem;
    background-color: #f55e77;
    border: 0;
    border-bottom: 0.2rem solid #c0506a;
    border-radius: 2rem;
    cursor: pointer;
}

    .share:active {
        border-bottom: 0;
    }

    .share i {
        color: #fff;
        font-size: 2rem;
    }

h1 {    
    font-size: 1.7rem;
    color: #141a39;
    text-transform: uppercase;
    cursor: default;
}

#leaderboard {
    width: 100%;
    position: relative;
}

#leaderboard table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
}

    #headertable {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        color: #141a39;
        cursor: default;
        margin-bottom:20px;
    }

        #headertable td {            
            font-size: 1rem;
            padding: 1rem 2rem;
            position: relative;
        }


#leaderboard tbody tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
}

    #leaderboard tbody tr:not(:first-child):hover {
        background-color: #fff;
        transform: scale(1.1);
        -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
        box-shadow: 0px 5px 15px 8px #e4e7fb;
    }

    #leaderboard tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    #leaderboard tbody tr:nth-child(1) {
        color: #fff;
    }

    #leaderboard tbody td {
        height: 5rem;
        font-size: 1.4rem;
        padding: 1rem 2rem;
        position: relative;
    }

    #leaderboard .number {
        width: 1rem;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: left;
    }

    #leaderboard .name {
        text-align: left;
        font-size: 1.2rem;
    }


#leaderboard .games {
    font-weight: bold;
    font-size: 1.3rem;    
}

    #leaderboard .points {
        font-weight: bold;
        font-size: 1.3rem;
        /*display: flex;
        justify-content: flex-end;
        align-items: center;*/
    }

        /*#leaderboard .points:first-child {
            width: 10rem;
        }*/

    #leaderboard .gold-medal {
        height: 3rem;
        margin-left: 1.5rem;
    }

#leaderboard .ribbon {
    width: 103%;
    height: 5.5rem;
    top: -0.5rem;
    background-color: #081828;
    position: absolute;
    left: -1rem;
    -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
    box-shadow: 0px 15px 11px -6px #7a7a7d;
}

        #leaderboard .ribbon::before {
            content: "";
            height: 1.5rem;
            width: 1.5rem;
            bottom: -0.8rem;
            left: 0.35rem;
            transform: rotate(45deg);
            background-color: #5c5be5;
            position: absolute;
            z-index: -1;
        }

        #leaderboard .ribbon::after {
            content: "";
            height: 1.5rem;
            width: 1.5rem;
            bottom: -0.8rem;
            right: 0.35rem;
            transform: rotate(45deg);
            background-color: #5c5be5;
            position: absolute;
            z-index: -1;
        }

.blog-img{
    position:relative;
}

.img-overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
}

.img-overlay h4{
    font-size:32px;
    color:white;
}

.meta-info {
    display: flex;
    justify-content: space-between;
}

.score-panel h2{
    font-size:80px;
    position:relative;
}

    .score-panel h2 span {
        font-size: 22px;
        position: absolute;
        bottom: -15px;
        left: 0px;
        right: 0px;
        margin: auto;
        text-align: center;
    }


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #081828;
    border-radius: 30px;
    padding: 15px 25px;
}
.nav .nav-pills li{
    margin-right:10px;
}
a.nav-link {
    color: #141a39;
    border-radius: 30px;
    padding: 15px 25px;
}


@media (max-width: 767px) {
    .score-panel h2 {
        font-size: 65px;        
    }
    .img-overlay h4 {
        font-size: 25px;     
    }
    .score-panel h2 span {
        font-size: 15px;
    }
    #leaderboard .gold-medal{
        width:30px;
        height:auto;
        position:absolute;
    }
    #leaderboard .ribbon{
        left:0px;
    }

    #leaderboard tbody td {
        height: 5rem;
        font-size: 1.4rem;
        padding: 1rem 1.2rem;
        position: relative;
    }

    #headertable td {
        font-size: 1rem;
        padding: 1rem 1.2rem;
        position: relative;
    }

    #leaderboard .number {     
        font-size: 1.2rem;        
    }
}
